<h2>通知一覧</h2>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
    　<tr>
      <th>タイトル</th>
      <th>最新刊</th>
      <th><%#=ボタン部分のborder延長%></th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <% volumes = [] %>
        <% book.book_details.map do |f| %>
          <% volumes.push(f.volume) %>
        <% end %>
        <td><%= "#{volumes.max}巻" %></td>
        <td>
          <% @bookmark = current_user.bookmarks.find_by(book_id: book.id)%>
          <% if @bookmark.present?%>
            <%= link_to '通知登録を解除する', book_bookmarks_path(book.id),
                        method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to '通知登録する', book_bookmarks_path(book.id),
                        method: :post, class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>